<p style="text-align: center; ">
	<span style="font-size: 16px; "><span style="font-family: 'comic sans ms', cursive; "><img alt="" src="http://compu-gf.com/church/images/FamilyOfLife-1.jpg" style="width: 300px; height: 109px; " /></span></span></p>
<p style="text-align: left; ">
	<strong><span style="font-size: 18px; "><span style="font-family: 'comic sans ms', cursive; ">hi {name},</span></span></strong></p>
<p style="text-align: left; ">
	<span style="color: rgb(0, 0, 128); "><span style="font-size: 16px; "><span style="font-family: 'comic sans ms', cursive; ">we miss you so much {name}, last time.&nbsp;</span></span></span></p>
<p style="text-align: left; ">
	<span style="color: rgb(0, 0, 128); "><span style="font-size: 16px; "><span style="font-family: 'comic sans ms', cursive; ">we were disscussing &nbsp;with&nbsp;</span></span><span style="font-family: 'comic sans ms', cursive; "><span style="font-size: 16px; ">Dr. Samir &quot;God&#39;s Intervention in our life&quot;. and these are the main points discussed:</span></span></span></p>
<p id="yui_3_2_0_39_1331693763240503" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: rgb(69, 69, 69); font-family: Arial, Helvetica, sans-serif; ">
	<span style="color: rgb(0, 0, 128); "><span style="font-family: 'comic sans ms', cursive; "><span style="font-size: 16px; ">God will intervene as much as you allow him to!</span></span></span></p>
<p id="yui_3_2_0_39_1331693763240516" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: rgb(69, 69, 69); font-family: Arial, Helvetica, sans-serif; ">
	<span style="color: rgb(0, 0, 128); "><span style="font-family: 'comic sans ms', cursive; "><span style="font-size: 16px; ">1- God won&#39;t allow temptation beyond your capability. (1 Cor 10:13)</span></span></span></p>
<p id="yui_3_2_0_39_1331693763240514" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: rgb(69, 69, 69); font-family: Arial, Helvetica, sans-serif; ">
	<span style="color: rgb(0, 0, 128); "><span style="font-family: 'comic sans ms', cursive; "><span style="font-size: 16px; ">2- He always gives escape. (1 Cor 10:13)</span></span></span></p>
<p id="yui_3_2_0_39_1331693763240512" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: rgb(69, 69, 69); font-family: Arial, Helvetica, sans-serif; ">
	<span style="color: rgb(0, 0, 128); "><span style="font-family: 'comic sans ms', cursive; "><span style="font-size: 16px; ">3- You will experience His presence with you. (Three young men Daniel 3:25)</span></span></span></p>
<p id="yui_3_2_0_39_1331693763240510" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: rgb(69, 69, 69); font-family: Arial, Helvetica, sans-serif; ">
	<span style="color: rgb(0, 0, 128); "><span style="font-family: 'comic sans ms', cursive; "><span style="font-size: 16px; ">4- He will turn the evil into good. (Joseph Genesis 50:20)</span></span></span></p>
<p id="yui_3_2_0_39_1331693763240508" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: rgb(69, 69, 69); font-family: Arial, Helvetica, sans-serif; ">
	&nbsp;</p>
<p id="yui_3_2_0_39_1331693763240504" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: rgb(69, 69, 69); font-family: Arial, Helvetica, sans-serif; ">
	<span style="color: rgb(0, 0, 128); "><span style="font-family: 'comic sans ms', cursive; "><span style="font-size: 16px; ">This Sunday, March 18<sup id="yui_3_2_0_39_1331693763240506">th</sup>&nbsp;we will be meeting at 5:30 PM to discuss &nbsp;&ldquo;The sign of the CROSS&rdquo; with Fr. Michael Sorial.&nbsp;&nbsp;Come prepared to discuss some of the questions that may challenge you in this area.</span></span></span></p>
<p style="text-align: left; ">
	<span style="color: rgb(165, 42, 42); "><span style="font-size: 16px; "><span style="font-family: 'comic sans ms', cursive; ">we willing to see you next time, with new people.</span></span></span></p>
<p style="text-align: left; ">
	&nbsp;</p>
<p style="text-align: left; ">
	<span style="color: rgb(0, 100, 0); "><strong><em><span style="font-family: 'trebuchet ms', helvetica, sans-serif; "><span style="font-size: 16px; ">for the grace of our lord,</span></span></em></strong></span></p>
<p style="text-align: left; ">
	&nbsp;</p>
<p style="text-align: left; ">
	<span style="color: rgb(75, 0, 130); "><strong><span style="font-family: 'times new roman', times, serif; "><em><span style="font-size: 16px; ">your family,</span></em></span></strong></span></p>
<p style="text-align: left; ">
	<span style="color: rgb(75, 0, 130); "><strong><span style="font-family: 'times new roman', times, serif; "><em><span style="font-size: 16px; ">family of life.</span></em></span></strong></span></p>
<p style="text-align: left; ">
	&nbsp;</p>
